body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}