body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    align-items: center;
}

.hmaintxt {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    background-color: grey;
    margin-left: -15px;
    flex-wrap: wrap;
    width: 400px;
}

.placeholder {
    background-color: grey;
    display: flex;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}