body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 530px;
}

.logo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    height: 350px;
    align-items: center;
    gap: 190px;
}

.hmaintxt {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 4px;
}

.boldtext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882F6;
    padding: 4px;
    width: 120px;
    border-radius: 7px;
    border-color: #3882F6;
    font-weight: bold;
}

.placeholder {
    background-color: grey;
    display: flex;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

.infocontainer {
    display: flex;
    align-items: center;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infoimg {
    width: 150px;
    height: 150px;
    border: #3882F6 solid;
    border-radius: 7px; 
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.infotxt {
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    width: 154px;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 300px;
}

.quotetxt {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 770px;
}

.quoteref {
    display: flex;
    font-weight: bold;
    margin-right: -540px;
}

.ctacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 247px;
}

.ctabox {
    background-color: #3882F6;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    height: 110px;
    width: 1100px;
    border-radius: 5px;
}

.ctatxt {
    display: flex;
    flex-direction: column;
}

.ctatitle {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.ctabutton {
    border: #F9FAF8 solid 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}